/*start wrapper*/
.wrapper{
  padding: 0;
  max-width: 1800px;
  min-width: 1024px;
  margin: 0 auto;
  overflow: hidden;

}

/*end wrapper*/


/*start main*/
#main{
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*end main*/

